<div class="mesa_de_trabajo">
    <div class="trazado_42542">
      <div class="bienvenido">
        ¡Bienvenido a la herramienta de registro Coink!
      </div>
      <div class="grupo83"></div>
      <div class="coink">
        Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.
      </div>
      <div class="grupo_81"></div>
    </div>
    <div class="aun">
      ¿Aún no tienes una cuenta?
    </div>
    <div class="registrate">
      Regístrate ahora
    </div>
    <div class="grupo33166">
      <app-login></app-login>
    </div>
</div>
